.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  background-color: #2ecc71;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn:hover {
  background-color: #27ae60;
}
.screenshot-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #0078D7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.screenshot-button:hover {
  background-color: #005A9E;
}